body{

background:#f4f6f9;

font-family:Arial;

padding:20px;

margin:0;

}

.container{

max-width:700px;

margin:auto;

}

.card{

background:white;

padding:20px;

margin-bottom:20px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

}

button{

width:100%;

padding:15px;

background:#063e46;

color:white;

border:none;

border-radius:10px;

font-size:16px;

cursor:pointer;

margin-top:15px;

}

img{

width:100%;

margin-top:15px;

display:none;

border-radius:10px;

}

pre{

white-space:pre-wrap;

}